#throne {
    height: 150px;
    width: 150px;
    position: absolute;
    right: 160px;
    top: 10px;
}

.btn-primary{
    position: absolute;
    right: 45px;
    top: 20px;
    font-family: GameOfThrones;
    background-color: #076086;
    border-color: #076086;
}

.modal-title{
    font-family: GameOfThrones;
}

.modal-body {
    font-family: GameOfThrones;
    font-size: 15px;
    text-align: center;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}